# LLM
GROQ_API_KEY=your_groq_api_key_here

# Database
MONGODB_URI=your_mongodb_connection_string_here

# Job APIs
ADZUNA_APP_ID=your_adzuna_app_id_here
ADZUNA_API_KEY=your_adzuna_api_key_here

# Auth
JWT_SECRET=your_jwt_secret_here

# HuggingFace
HUGGINGFACE_API_KEY=your_hf_key_here

# App
PORT=5000
AI_SERVICE_PORT=8000
NODE_ENV=development